<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body leftmargin="0" margin="0" topmargin="0" marginheight="0" offset="0">
        <table id="wrapper">
            <tr valign="top">
                <td align="center">
                    <table id="core">
                        <tr valign="top">
                            <td valign="top" align="left" id="header">
                                <table class="full">
                                    <tr valign="top">
                                        <td align="center">
                                            <a href="<%= host %>">
                                                <img id="logo" src="<%= host %>/img/email_logo.png"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr valign="top">
                            <td align="center">
                                <table id="content" cellpadding="0px" cellspacing="0px">
                                    <tr>
                                        <td id="top" valign="top">
                                            <!-- Start Here -->
                                            <div class="header">Hello <%= name %>,</div>
                                            <br>
                                            <%= document.from %> has given you <%= document.access %>
                                            access to <span class="bold"><%= document.name %></span>.
                                            <% if(!document.laborators.empty) { %>
                                                The following laborators also have access to this document.
                                                <br><br>
                                                <table class="list">
                                                    <% $.each(document.laborators.splice(0,3), function(key, laborator) { %>
                                                        <tr class="item">
                                                            <td class="gravatar">
                                                                <img width="30px" height="30px" src="<%= laborator.gravatar %>"/>
                                                            </td>
                                                            <td class="name"><%= laborator.name %></td>
                                                        </tr>
                                                    <% }); %>
                                                </table>
                                                <% if(document.laborators.length != 0) { %>
                                                    <table class="more">
                                                        <tr>
                                                            <td><%= document.laborators.length %> other laborators</td>
                                                        </tr>
                                                    </table>
                                                <% } %>
                                            <% } else { %>
                                                <br>
                                            <% } %>
                                            <br>
                                            <a href="<%= host %>/editor/<%= document.id %>/" class="button">
                                                Start Laborating
                                            </a>
                                            <!-- End Here -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="bottom" valign="middle">
                                            © <a class="link" href="<%= host %>"><%= company %></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
