<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body leftmargin="0" margin="0" topmargin="0" marginheight="0" offset="0">
        <table id="wrapper">
            <tr valign="top">
                <td align="center">
                    <table id="core">
                        <tr valign="top">
                            <td valign="top" align="left" id="header">
                                <table class="full">
                                    <tr valign="top">
                                        <td align="left">
                                            <img id="logo" src="http://<%= host %>/img/email_logo.png"/>
                                        </td>
                                        <td id="date" align="right" valign="middle">
                                            <a class="link" link="#"><%= date_formatted %></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr valign="top">
                            <td align="center">
                                <table id="content" cellpadding="0px" cellspacing="0px">
                                    <tr>
                                        <td id="top" valign="top">
                                            <div class="header">Hello <%= name %>,</div>
                                            <br>
                                            Here is the password reset link you requested.
                                            <br><br>
                                            <a class="link" href="http://<%= host %>/reset/<%= code %>/">Reset Password</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="bottom" valign="top">
                                            © <%= company %>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
