<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body leftmargin="0" margin="0" topmargin="0" marginheight="0" offset="0">
        <table id="wrapper">
            <tr valign="top">
                <td align="center">
                    <table id="core">
                        <tr valign="top">
                            <td valign="top" align="left" id="header">
                                <table class="full">
                                    <tr valign="top">
                                        <td align="center">
                                            <a href="<%= host %>">
                                                <img id="logo" src="<%= host %>/img/email_logo.png"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr valign="top">
                            <td align="center">
                                <table id="content" cellpadding="0px" cellspacing="0px">
                                    <tr>
                                        <td id="top" valign="top">
                                            <!-- Start Here -->
                                            <div class="header">Hello <%= name %>,</div>
                                            <br>
                                            We noticed you have been using our service for a couple days, do you have any feedback?
                                            <br><br>
                                            <a class="button" href="<%= host %>/feedback/">Give Us Feedback</a>
                                            <!-- End Here -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="bottom" valign="middle">
                                            © <a class="link" href="<%= host %>"><%= company %></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
