<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body leftmargin="0" margin="0" topmargin="0" marginheight="0" offset="0">
        <table width="100%" bgcolor="#FFFFFF" cellpadding="10" cellspacing="0">
            <tr valign="middle" align="center">
                <td>
                    <table width="300" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center">
                                <a class="backdrop_logo" href="<%= host %>" target="_blank">
                                    <img src="http://<%= host %>/img/email_logo.png" border="0" width="300px" height="30px">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="300" bgcolor="#F8F8F8" cellpadding="15" cellspacing="0" class="backdrop_container">
                                    <tr>
                                        <td bgcolor="#F8F8F8" class="backdrop_info">
                                            Hello <%= name %>,<br><br>
                                            Welcome to <a href="http://<%= host %>">Laborate.io</a>. Before you can start collaborating we
                                            need you to verify your email address. <br><br>
                                            <strong>Verification Code:</strong> <%= code %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F8F8F8" style="padding: 15px;">
                                            <a href="http://<%= host %>/verify/" class="backdrop_button">Verify Account</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
